* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
}

body {
    padding-top: 60px;
    background-color: #e8ddcc;
    font-family: 'Aboreto', cursive;
}

h3, h4, h6, p {
    font-size: 1.2em;
}

/* Navbar */
.navbar-brand {
    font-size: 1em;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}

#mission-verse {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
}

.verse-wrapper {
    padding: 5vh 15vw 2vh 15vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center-verse {
    text-align: center;
    font-size: 1.6em;
}

#mission-verse > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section {
    padding: 3vh 0 3vh 0;
}

.about-section > p {
    text-align: center;
}

.mission-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-left: 5vh;
    padding-right: 5vh;
}

.core-values-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

/* Width queries */
@media only screen and (max-width: 1200px){
    .core-values-section {
        padding-bottom: 10em;
    }
}

@media only screen and (max-width: 840px){
    .core-values-section {
        padding-bottom: 12em;
    }
}

/* Height queries */
@media only screen and (max-height: 1082px){
    .core-values-section {
        padding-bottom: 8em;
    }
}

.core-values-titles {
    text-align: start;
    font-weight: bolder;
}

.about-titles {
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;

    padding-bottom: 20px;
}

.core-value-wrappers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.verse {
    text-align: center;
    width: 60%;
}

@media only screen and (max-width: 940px){
    .verse {
        width: 80%;
    }
}

@media only screen and (max-width: 863px){
    .verse {
        width: 90%;
    }
}

.verse-reference {
    font-size: 0.9em;
}

.line {
    padding: 0 100px 0 100px;
}

@media only screen and (max-width: 940px){
    .line {
        padding: 0 50px 0 50px;
    }
}

/* Footer */
.footer {
    background-color: #2e2a26;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    bottom: 0;
    height: 6rem;
    width: 100%;
    padding-top: 10px;
}

@media only screen and (max-width: 415px){
    .footer {
        height: 14vh;
    }

    .footer > a > img {
        height: 7vh;
        object-fit: cover;
    }
}

.footer > a > img {
    border-radius: 10px;
    margin-top: 10px;

    height: 5vh;
    object-fit: cover;
}