* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
}

body {
    padding-top: 60px;
    background-color: #e8ddcc;
    font-family: 'Aboreto', cursive;
}

/* Navbar */
.navbar-brand {
    font-size: 1em;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
}

#mission-verse {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
}

.verse-wrapper {
    padding: 5vh 15vw 5vh 15vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center-verse {
    text-align: center;
}

#mission-verse > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.core-values-titles {
    text-align: start;
}

.about-titles {
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;
}

.line {
    padding: 0 100px 0 100px;
}

/* Footer */
.footer {
    background-color: #2e2a26;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100%;
    padding-top: 10px;
}

@media only screen and (max-width: 415px){
    .footer {
        height: 14vh;
    }

    .footer > a > img {
        height: 7vh;
        object-fit: cover;
    }
}

.footer > a > img {
    border-radius: 10px;

    height: 5vh;
    object-fit: cover;
}